<h1><%= @place["name"] %></h1>

<div class="container mt-4"></div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>

<div class="container mt-4"></div>

<div class="row">
<% for entry in @entries %>
<div class="col-sm-6 col-md-3">
  <h4><%= entry["title"] %></h4>
  <h6><%= entry["occurred_on"] %></h6>
  <p><%= entry["description"] %></p>
  <img src="<%= entry["image_url"] %>" class="img-fluid">
</div>
<% end %>
</div>

<div class="container mt-4"></div>

<p>
  <a href="/places" class="btn btn-primary">Back to All Places</a>
</p>