<h1><%= @place["name"] %></h1>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>


<div class="row">
<% for entry in @entries %>
<div class="col-sm-6 col-md-3">
  <h4><%= entry["title"] %></h4>
  <h6><%= entry["occurred_on"] %></h6>
  <p><%= entry["description"] %></p>
  <% if entry.uploaded_image.attached? %>
    <%= image_tag(entry.uploaded_image) %>
  <% end %>
</div>
<% end %>
</div>


<p>
  <a href="/places" class="btn btn-primary">Back to All Places</a>
</p>