<h1 style="font-weight: bold"><%= @place["name"] %></h1>

<div class="container mt-4">

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>

<% if @entries.any? %>
<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= entry["title"] %></h5>
          <p class="card-text"><small class="text-muted"><%= entry["occurred_on"] %></small></p>
          <p class="card-text"><%= entry["description"] %></p>
          <% if entry.uploaded_image.attached? %>
            <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= entry["image_url"] %>" class="img-fluid">
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
  <p>No posts available.</p>
</div>
<% end %>

<p>
  <a href="/places" class="btn btn-outline-secondary">Back to All Places</a>
</p>

</div>